<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Spring Framework Guru</title>
</head>
<body>
<h1>List of Authors</h1>

<table>
    <tr>
        <th>ID</th>
        <th>firstName</th>
        <th>lastName</th>
    </tr>
    <tr th:each="author : ${authors}">
        <td th:text="${author.id}">123</td>
        <td th:text="${author.firstName}"> Henk</td>
        <td th:text="${author.lastName}">Henkelientje</td>
    </tr>
</table>

</body>
</html>